<div class="container">
    <h1>Request Form</h1>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Base Currency</label>
        <input type="text" class="form-control" id="baseCurrency" 
            [(ngModel)]="name" name="name" required>
      </div>
 
      <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="text" class="form-control" id="startDate" [(ngModel)]="startDate"
            name="startDate">
      </div>
 
      <button type="submit" class="btn btn-success">Submit</button>
 
    </form>
</div>
