<!-- <div class="container">
    <h1>Request Form</h1>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Base Currency</label>
        <input type="text" class="form-control" id="baseCurrency" 
            [(ngModel)]="name" name="name" required>
      </div>
 
      <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="text" class="form-control" id="startDate" [(ngModel)]="startDate"
            name="startDate">
      </div>
 
      <button type="submit" class="btn btn-success">Submit</button>
 
    </form>
</div> -->
<div id="chartdiv" style="width: 100%; height: 500px" [hidden]=!submitted></div>
<ag-grid-angular 
    style="width: 100%; height: 250px;" 
    class="ag-theme-fresh"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    [hidden]=!submitted>
</ag-grid-angular>