<!-- <app-balls></app-balls> -->
<!-- <app-base-currency></app-base-currency> -->
<mat-toolbar color="primary" style="height: 5vh;">
  <a [routerLink]="['/map']" routerLinkActive="router-link-active">
    <mat-icon class="icon">person_pin_circle</mat-icon>

    <span>Pretty </span><mat-icon>euro_symbol</mat-icon><span>urrency</span>
  </a>
  <span class="spacer"></span>
  <mat-card-actions align="end">
    <a [routerLink]="['/balls']" routerLinkActive="router-link-active">
      <span>Calculator </span>
      <mat-icon class="icon">bubble_chart</mat-icon>
    </a>
  </mat-card-actions>
</mat-toolbar>
<router-outlet></router-outlet>
